<html>
  <head>
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <script type="text/javascript" src="/static/chart.min.js"></script>
    <script type="text/javascript" src="/static/microajax.min.js"></script>
  </head>
  <body>

    <div id="lastUpdated">3/3/32 1:30pm</div>

    <div class="item">
      <div class="current">
        <p>Temp</p>
        <h1><span id="current[OutsideTemerature]"></span>&ordm;</h1>
      </div>
      <canvas width="100" height="150" id="trend_outsideTemp"></canvas>
      <canvas width="700" height="150" id="highlow_outsideTemp"></canvas>
    </div>

    <div class="item">
      <div class="current">
        <p>Humidity</p>
        <h1><span id="current[OutsideHumidity]"></span>%</h1>
      </div>
      <canvas width="100" height="150" id="trend_outsideHum"></canvas>
      <canvas width="700" height="150" id="highlow_outsideHum"></canvas>
    </div>

    <div class="item">
      <div class="current">
        <p>Bar</p>
        <h1><span id="current[Barometer]"></span></h1>
      </div>
      <canvas width="100" height="150" id="trend_bar"></canvas>
      <canvas width="700" height="150" id="highlow_bar"></canvas>
    </div>

    <!--
    <div class="item">
      <div class="current">
        <p>Wind Speed</p>
        <h1><span id="current[WindSpeed]"></span></h1>
      </div>
    </div>
    -->

    <div class="clear"></div>

    <script>
      var renderMainCharts = function() {
        var ids = [ "myChart", "myChart2", "myChart3" ];

        ids.forEach(function(id) {
          var ctx = document.getElementById(id).getContext("2d");

          var data = {
            labels: [ "", "", "", "", "", "", "", "", "", "", "", ""  ],
            datasets: [
              { 
                strokeColor : "rgba(220,220,220,1)",
                fillColor : "rgba(151,187,205,0.5)",
                data: [ 70, 71, 70, 90, 91, 92, 70, 71, 70, 90, 91, 92  ]
              }
            ]
          };

          var options = {
            scaleFontSize : 10,
            datasetStrokeWidth: 3,
            pointDotRadius: 1
          };

          var newChart = new Chart(ctx).Line(data, options);
        });
      };


      var calcScaleOptions = function(rangeLow, rangeHigh, steps) {
        if (steps == null) {
          steps = 1;
        }

        var width = (rangeHigh - rangeLow) / steps;
        return {
          scaleSteps: steps,
          scaleStepWidth: Math.ceil(width),
          scaleStartValue: rangeLow
        };
      };


      var renderHighLowCharts = function(chartData) {
        chartData.forEach(function(d) {
          var ctx = document.getElementById(d.id).getContext("2d");

          var lowChartData = d.data.map(function (ld) { return ld.Low; });
          var highChartData = d.data.map(function (hd) { return hd.High; });
          var labels = d.data.map(function(dd) { return dd.Month + "/" + dd.Day + "/" + dd.Year; });
          var scaleOptions = calcScaleOptions(d.rangeLow, d.rangeHigh, d.rangeSteps);

          var data = {
            labels: labels,
            datasets: [
              { 
                strokeColor : "rgba(220,220,220,1)",
                fillColor : "rgba(151,187,205,0.5)",
                data: lowChartData
              },
              { 
                strokeColor : "rgba(220,220,220,1)",
                fillColor : "#D97041",
                data: highChartData
              }
            ]
          };

          var options = {
            scaleFontSize : 10,
            scaleOverride: true,
            scaleStartValue: scaleOptions.scaleStartValue,
            scaleSteps: scaleOptions.scaleSteps,
            scaleStepWidth: scaleOptions.scaleStepWidth,
            animation: false
          };

          var newChart = new Chart(ctx).Bar(data, options);
        });

      };


      var renderTrendCharts = function(trendData) {
        trendData.forEach(function(d) {
          var ctx = document.getElementById(d.id).getContext("2d");

          var chartData = d.data.map(function (ad) { return ad.AverageData; });
          var scaleOptions = calcScaleOptions(d.rangeLow, d.rangeHigh);

          var data = {
            labels: [ "", "", "" ],
            datasets: [
              { 
                strokeColor : "rgba(220,220,220,1)",
                fillColor : "rgba(151,187,205,0.5)",
                data: chartData
              }
            ]
          };

          var options = {
            scaleFontSize : 10,

            scaleOverride: true,
            scaleStartValue: scaleOptions.scaleStartValue,
            scaleSteps: scaleOptions.scaleSteps,
            scaleStepWidth: scaleOptions.scaleStepWidth,
            scaleLabel: "",

            datasetStrokeWidth: 3,
            pointDotRadius: 1,
            scaleFontColor: "#fff",
            scaleShowGridLines: false,
            bezierCurve: false,
            scaleLineWidth: 0.1,
            animation: false
          };

          var newChart = new Chart(ctx).Line(data, options);
        });

      };

      //renderMainCharts();
      //renderTrendCharts();

      var updateCurrent = function(sample, time) {
        var timeUpdated = new Date(time);
        document.getElementById("lastUpdated").innerText = timeUpdated;

        for (k in sample) {
          var v = sample[k]
          var element = document.getElementById("current[" + k + "]");

          if (element != null) {
            element.innerText = "" + v;
          }
        }
      };

      function trendAdder(data, fn, howMuch) {
        var mappedData = data.map(function(x) { return x.AverageData; });
        var res = fn.apply(null, mappedData);

        return res + howMuch;
      }

      function update(data) {
        window.document.title = data.Latest.Sample.OutsideTemerature + " at Derek's house";
        updateCurrent(data.Latest.Sample, data.Latest.Time);

        // change the trend data for Bar (maybe move to server side??)
        data.Trends.Barometer.forEach(function(t) { t.AverageData *= 100; });

        renderTrendCharts([
          {
            id: "trend_outsideTemp",
            data: data.Trends.OutsideTemerature,
            rangeLow: trendAdder(data.Trends.OutsideTemerature, Math.min, -5),
            rangeHigh: trendAdder(data.Trends.OutsideTemerature, Math.max, 5)
          },
          {
            id: "trend_outsideHum",
            data: data.Trends.OutsideHumidity,
            rangeLow: trendAdder(data.Trends.OutsideHumidity, Math.min, -5),
            rangeHigh: trendAdder(data.Trends.OutsideHumidity, Math.max, 5)
          },
          {
            id: "trend_bar",
            data: data.Trends.Barometer,
            rangeLow: trendAdder(data.Trends.Barometer, Math.min, -1),
            rangeHigh: trendAdder(data.Trends.Barometer, Math.max, 1)
          }
        ]);

        renderHighLowCharts([
          {
            id: "highlow_outsideTemp",
            data: data.HighLows.OutsideTemerature,
            rangeLow: 50,
            rangeHigh: 120,
            rangeSteps: 7

          },
          {
            id: "highlow_outsideHum",
            data: data.HighLows.OutsideHumidity,
            rangeLow: 0,
            rangeHigh: 100,
            rangeSteps: 10
          },
          {
            id: "highlow_bar",
            data: data.HighLows.Barometer,
            rangeLow: 26,
            rangeHigh: 32,
            rangeSteps: 6
          }
        ]);
      }


      function updater() {
        microAjax("/latest", function(res) {
          res = JSON.parse(res);
          update(res);
        });
      }


      // first load
      update({{ . }});

      // and update every minute
      setInterval(updater, 1 * 60 * 1000);


      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-42512875-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
